[2017-01-26 17:04] DUGUEY opened #1 "add fake generatice"

[2017-01-26 17:05] #1 closed

[2017-01-26 17:12] DUGUEY opened #2 "Placer "les fake generatrices" de manière à ne pas avoir de biais dans le cas des pantalons"
![Uploading pantalon.jpg…]()

[2017-01-27 15:13] vmora commented on #2
![pantalon](https://cloud.githubusercontent.com/assets/4415710/22375715/819898de-e4ab-11e6-81b3-811f378849c3.jpg)

[2017-01-30 12:01] DUGUEY opened #3 "<wsdxw<cxwxcxw"
![Uploading pantalon.jpg…]()

[2017-02-04 14:35] DUGUEY commented on #2
![pantalon1](https://cloud.githubusercontent.com/assets/25370323/22619179/46bd6c68-eaef-11e6-90bd-8525c53511a1.jpg)
![pantalon2](https://cloud.githubusercontent.com/assets/25370323/22619181/517b089a-eaef-11e6-91f9-d1c629a0596c.jpg)
![pantalon3](https://cloud.githubusercontent.com/assets/25370323/22619182/55572f34-eaef-11e6-8619-297dbcef0506.jpg)
![pantalon4](https://cloud.githubusercontent.com/ass

[2017-02-04 15:47] DUGUEY opened #4 "Création de graphe automatique en fonction d'une distance et d'un angle donnés par le modélisateur"
![graphe automatique](https://cloud.githubusercontent.com/assets/25370323/22619659/df19fd6e-eaf9-11e6-9ac5-7b427e9076cc.jpg)

[2017-02-04 16:09] DUGUEY opened #5 "Les generatrices appartenant à un même graphe doivent être indexées d'une manière identique"
L'idée derrière cette fonction est de pouvoir facilement avoir accés à toutes les génératrices appartenant à un même volume géologique. De la même manière on pourra facilement reperer les generatrices n'appartenant à aucun des volumes géolgiques en construction.  En toute rigueur toutes les generatrices doivent être indexées.

[2017-02-07 08:06] peppsac commented on #5
Pouvez vous préciser ce que vous entendez par `indexer` les génératrices ?

[2017-02-13 14:54] SalimaEH opened #6 "Input Data : fichiers d'entrée simplifiés"
Le plus simple pour nous serait de vous transférer des fichiers avec HOLEID/DEPTH/DATA pour les données ponctuelles le long du puits (résistivité par exemple) et  HOLEID/FROM/TO/DATA pour les données définies sur des intervalles (lithologie par exemple).
Concernant la deviation du puits, le plus simple serait de transferer un fichier HOLEID/DEPTH/DIP/AZIMUT
Pour le moment, veuillez trouver les fic

[2017-02-14 12:22] peppsac opened #7 "Pouvoir exporter en csv l'ensemble des génératrices appartenant à un sous-graphe"
Le fichier résultat aura comme colonnes les attributs du layer de génératrices exporté.

[2017-02-26 14:06] DUGUEY opened #8 "Creation des lignes de section bi-directionnelles"
Les lignes de section bi-directionnelles (figure A) doivent passer exactement par les points de sondages (layer collar, voir figure C). Cela permet aux polygones coupes, de passer eux aussi par les mêmes sondages quelques soient les polygone-coupes issues des genratrices rouges ou vertes (voir figure B) de cette manière les volumes (rouge et vert sur la figure B) s'emboiteront parfaitement
![creti

[2017-02-26 14:12] DUGUEY opened #9 "Exemples de grilles complexes où il y a lieu de subdiviser en plusieurs grilles"
![cretion_des_sections_nsew_1](https://cloud.githubusercontent.com/assets/25370323/23340383/697c0848-fc35-11e6-85be-36188c67669a.jpg)
Dans cet exemple la croix est oblique aux lignes de section N-S et EW ,il faut donc creer deux grilles :
![cretion_des_sections_nsew_2](https://cloud.githubusercontent.com/assets/25370323/23340396/bd7dbe32-fc35-11e6-9d09-080585e47cbe.jpg)
Enfin dans l'exemple ci-des

[2017-02-26 14:14] DUGUEY opened #10 "Problème d'une grille centrée"
le cas de grille centrée pose problème, il faut ajouter des sondages fictifs pour se ramener à une grille carrée
![cretion_des_sections_nsew_4](https://cloud.githubusercontent.com/assets/25370323/23340414/26b7d194-fc36-11e6-92e3-b6b270ed20c8.jpg)

[2017-02-26 14:19] DUGUEY opened #11 "Problème d'intersection de polygone sur une grille centrée"
Le problème des grille centrée c'est que le polygone coupe NS n'intersecte pas le long d'un segment unique le polygone coupe EW
![pb_grille_centree](https://cloud.githubusercontent.com/assets/25370323/23340430/736d4712-fc36-11e6-98d9-ce39dac66aa3.jpg)
Il y a lieu de creer une fausse génératrice à l'intersection des deux polygones suivant le schéma :
![pb_grille_centree2](https://cloud.githubuserco

[2017-02-27 17:31] DUGUEY opened #12 "Création d'un sous graphe"
Proposition pour générer un sous graphe (graphe fils) automatiquement en prenant en compte la géométrie du graphe initial (graphe père). Cette notion de sous graphe correspond par exemple au "graphe minéralisation" qui est hérité du "graphe lithologie" portant la minéralisation
![sous_graphe1](https://cloud.githubusercontent.com/assets/25370323/23372120/a31a7540-fd1a-11e6-9018-e026dbbe4bf6.jpg)
![

[2017-02-27 17:39] DUGUEY opened #13 "Problème de sondage doublé"
Il arrive fréquemment qu'un sondage est doublé. Ce cas pose problème dans la mesure où le sondage doublé est juste à queleque m du sondage initiale la création d'un volume élémentaire peut être problématique dans ce cas on propose la méthode suivante :+1:
![pb_sondage_double](https://cloud.githubusercontent.com/assets/25370323/23372449/f518bd1a-fd1b-11e6-8300-7e659e1b1972.jpg)
![pb_sondage_double2

[2017-02-27 17:43] DUGUEY opened #14 "Ajout de vertex à un polygone coupe"
Il arrive parfois que le géologue souhaite contrainde les polygones coupes pas uniquement aux données de sondage et ajouter ainsi, une information supplémentaire aux polygones en modifiant légèrement leur géométrie en ajoutant  un ou des vertex . Ainsi, Albion doit intégrer cette fonctionnalité bien utile....
![ajout_vertex](https://cloud.githubusercontent.com/assets/25370323/23372579/715d3810-fd1

[2017-02-27 18:49] DUGUEY opened #15 "Fenêtrage dynamique"
Afin de bien  corréler vue en carte et en coupe, il serait souhaitable de créer "un fenêtrage dynamique"
![gestion_dynamique_fenteres_carte_coupe](https://cloud.githubusercontent.com/assets/25370323/23374740/e06f2642-fd25-11e6-81ef-7d132e2ff292.jpg)

[2017-03-02 17:12] DUGUEY opened #16 "Création de grilles (item résumant un peu les différentes issues sur le sujet)"
La création de grille est une étape incontournable avant la création des graphes. Il est important de bien soigner cette étape cartographique.
Un gisement peut être modélisé en utilisant plusieurs grilles dans les cas suivant :
-	présence d'une croix de sondage oblique à la direction de la grille de sondage voir issue n°9)
-	présence de plusieurs directions géologiques observées  sur le gisement n

[2017-03-16 12:40] SalimaEH opened #17 "Systeme de projection graph_export"
Lors de la construction de graph dans le projet "kazakh.qgs", une fenetre s'ouvre a chaque selection de generatrice, en demandant de choisir un systeme de projection pour la couche "graph_export".
Peut on attribuer un systeme de projection a "graph_export", sans qu'il soit re-demander a chaque fois de selectionner le CRS ? Ou completement supprimer "graph_export" ?

[2017-03-23 14:57] sylvainpetiteau opened #18 "fermeture en bordure"
Bonjour,

je découvre les messages à l'instant, j'ai peut être lu trop rapidement, mais je n'ai vu nul part mention des options de fermetures des enveloppes en fin de profils. Cela a-il été évoqué?

Sylvain

[2017-03-23 15:19] sylvainpetiteau commented on #10
si je comprends bien ta proposition, il s'agirait:
1 de construire les profils passants par les sondages de la maille carré
2 de produire des génératrices temporaires correspondant à l'intesection de ces profils avec les segments de la grille qui n'ont pas encore été interpété (ceux passant par les sonsages "centrés")
3 de construire les profils passants par les sondages de la maille centrée et le

[2017-03-23 15:24] sylvainpetiteau commented on #13
ne peut-on pas considérer ces doublons comme des sondages "centrés" décrits dans "Problème d'une grille centrée", et appliquer la même méthodologie pour construire les coupes passant par ces génératrices?

[2017-03-23 15:30] sylvainpetiteau opened #19 "generatrices inclinées"
L'outil sera-t-il adapter pour traiter des génératrices inclinées?

[2017-03-23 15:53] sylvainpetiteau commented on #9
Il me semble que la méthode proposée dans "Problème d'une grille centrée" pourrait s'appliquer à nouveau pour les croix de sondages, quel que soit leur orientation par rapport à la grille de profils, en ajoutant une étape:
1-construction des coupes à partir des sondages de la maille carrée
2-construction des coupes à partir des sondages de la maille centrée et des génératrices temporaires ajoutées

[2017-03-23 16:05] sylvainpetiteau commented on #16
cette étape ne pourrait-elle pas être automatisée? en effet , s'agissant d'une grille orthogonale dont les intersections doivent passer par chacun des points, il pourrait suffire:
1-à l'opérateur d'entrer la direction de la grille
2-au programme de générer deux segments perpendiculaires à chaque point
3a- de laisser le soins à l'opérateur de joindre les segments qui doivent l'être
3b- il existe pe

[2017-03-24 08:04] DUGUEY commented on #16
Dans un premier temps, je préfererai rester avec une approche manuelle de la construction des grilles, dans la mesure où on automatise déjà la construction du graphe (et du sous -graphe) ce qui fait gagner déjà un temps précieux pour le géologue modélisateur. Aussi la construction des grilles est une étape certes, chronophage, mais aussi déterminante pour les corrélations ainsi passer du temps à c

[2017-03-24 09:52] DUGUEY commented on #9
Oui je suis d'accord l'approche grille centrée peut marcher aussi dans le cas d'une croix de sondage oblique, cependant il est important que Albion puisse gerer la notion de multi grille, car il est fréquent que sur un même gisement les structures géologiques tournent et dans ce cas il est indispensable d'adapter la grille aux structures géologiques et donc il faut faire plusieurs grille afin de c

[2017-03-24 09:55] DUGUEY commented on #13
non il s'agit d'un autre cas de figure différent d'une grille centrée par contre on peut se poser la question  contraire : ne peut on pas appliquer cette approche d'ajout de vertex pour les grilles centrées ?

[2017-03-24 10:08] DUGUEY commented on #18
Pas évoqué cette année, et on conserve une fermeture en carré cad la puissance de la génératrice fake est égale à la génératrice de fin de coupe, la distance de fermeture est au choix du modélisateur

[2017-03-27 07:20] sylvainpetiteau opened #20 "Contrôle en fin de modélisation"
y-a-t il des controles prévus en fin de modelisation?

si cela n'est pas prévu, serait-il possible de vérifier qu'aucune extrémité de génératrice n'est inclue dans le volume minéralisé?

[2017-03-27 07:34] sylvainpetiteau commented on #9
L'approche dont je parle est surtout très fausse s’il y a une génératrice plus courte que ces voisines: elle sera alors partiellement ou complètement incluse dans les volumes élémentaires voisins. La fin de semaine ayant porté conseil :D, la possibilité d'interpréter dans des directions variables me parait effectivement indispensable.

[2017-03-27 07:38] sylvainpetiteau commented on #18
c'est dommage, cette méthode n'apporte aucune information supplémentaire: la proportion de minéralisation à l'intérieur des cellules de la grille d'estimation peut être simplement déduite de la longueur de sondage intersectant les cellules de la grille d'estimation

[2017-03-27 09:01] DUGUEY commented on #20
Non ce n'était pas prévu mais c'est vrai ce serait une bonne idée et pourquoi ne pas en profiter aussi pour contrôler que toutes les génératrices stériles sont hors volume modélisé ?

[2017-04-10 14:27] garaud opened #21 "Python traceback when you click on the 'axis' button in the canvas 'section'"
You can see the X,Y axis on the main canvas and the canvas 'section'. A layer is added to the layer group 'section' with the name `axis plugin layer`. But you get this following traceback:
[code]

When you select it in the layer view, you get:
[code]

And when you want to remove it:
[code]

[2017-04-10 15:37] peppsac commented on #21
Thanks for the bug report. This should be fixed by e7bc4a2

[2017-04-11 07:53] #3 closed

[2017-04-11 07:55] peppsac commented on #2
Implémenté dans 1c2e9e5

[2017-04-11 07:55] #2 closed

[2017-04-11 09:09] peppsac commented on #12
Étape 2 implémentée dans bb4e60b

Exemple :
![capture d ecran de 2017-04-11 11-08-45](https://cloud.githubusercontent.com/assets/2198295/24901394/454c174e-1ea7-11e7-8eed-1478b00cc5b9.png)

[2017-04-12 13:05] peppsac commented on #17
Ce point a été corrigé avec a43337c

[2017-04-12 17:21] peppsac commented on #16
Le bouton `D` du schéma ci dessus a été implémenté dans le commit 34d45e9

[2017-04-27 07:58] DUGUEY opened #22 "Optimiser la création de la grille de manière a rester dans une logique de volume émlémentaire additif"
La grille représentant le tracé des sections des coupes bidirectionnelles est une étape importante, il y a lieu de ne pas négliger cette phase car elle conditionne les corrélations de coupes et par conséquence la construction des volumes élémentaires, où il est préférable de rester dans une logique additive de manière à simplifier le maillage du volume modélisé.
Dans cette optique il apparaît néce

[2017-04-27 08:05] DUGUEY opened #23 "Proposition pour rester dans une logique additive dans le cas de la présence de deux grilles"
Les volumes élémentaires d'une même grille doivent suivre une logique additive. Il est crucial aussi que les volumes  issus de  grilles différentes restent eux aussi dans une logique additive. Dans cette perspective, il y a lieur de construire le polygone  contour automatiquement des grilles passant par toutes les  génératrices de terminaison.
![grille7](https://cloud.githubusercontent.com/assets/

[2017-09-18 16:04] vpicavet opened #24 "Publication de la documentation Albion"
Une première version de documentation utilisateur a été écrite. Il s'agit de la convertir dans un format maintenable, de l'intégrer dans le dépot et de la publier pour qu'elle soit lisible en ligne.

[2017-09-18 16:05] vpicavet opened #25 "Publication de données demo"
Il s'agit de publier un jeu de données de démonstration.

On dispose actuellement d'un jeu de données, qu'il s'agit d'anonymiser pour pouvoir le diffuser publiquement.

[2017-09-18 16:11] vmora commented on #24
where is the doc (is it in french) ?

[2017-09-18 16:19] vpicavet commented on #24
in french, on our private share for now

[2017-10-12 13:25] #23 closed

[2017-10-12 13:26] #22 closed

[2017-10-12 13:26] #4 closed

[2017-10-12 13:27] #16 closed

[2017-10-12 13:27] #15 closed

[2017-10-12 13:28] #14 closed

[2017-10-12 13:28] #13 closed

[2017-10-12 13:28] #5 closed

[2017-10-12 13:28] #8 closed

[2017-10-12 13:29] #12 closed

[2017-10-12 13:29] #11 closed

[2017-10-12 13:30] #10 closed

[2017-10-12 13:30] #9 closed

[2017-10-12 13:38] DUGUEY opened #26 "Albion_ V2.0 - Reflexion sur une grille simplifiant la construction de coupes"
Dans la modélisation du mois de Juillet nous avions crée la grille suivante
<img width="519" alt="image" src="https://user-images.githubusercontent.com/25370323/31498621-c46f1b38-af62-11e7-920b-6cfedbecb3e8.png">
qui complexifie la création de coupe car nous devions résoudre ce genre de problème :
![image](https://user-images.githubusercontent.com/25370323/31498700-f96dfc8c-af62-11e7-9a16-b5931a4a

[2017-10-12 13:49] DUGUEY opened #27 "Albion V2.0 les coupes minéralisée a différentes teneurs doivent s'emboitées"
Dans le cas de minéralisation étagée on peut avoir en coupe ce cas de figure :
![image](https://user-images.githubusercontent.com/25370323/31499223-7bc2f394-af64-11e7-8e5e-aec4cc5851f9.png)
Dans le cas "d’un pantalon" il est important de respecter la proportion
surface minéralisée et surface stérile => La position du point X est calculé  en tenant compte
de cette règle Le point X est positionné su

[2017-10-12 13:54] DUGUEY opened #28 "Albion v2.0 necessité de travailler avec des volumes fusionnels"
L'utilisation de volume additifs pour la construction complete du volume apparait difficile il semble plus facile de travailler avec des volume élémentaire centré sur chaque passe de sondage (forme de diamant).
![image](https://user-images.githubusercontent.com/25370323/31499580-7ccabaf0-af65-11e7-9a26-665caebed28d.png)
Le volume final est obtenu en fusionnant tous les volumes

[2017-11-02 13:23] DUGUEY opened #29 "Grille double -> maillage simplifié"
Dans la figure n°1 on superpose deux grilles l'une droite et l'autre oblique : on relie chaque sondage au sondage le plus près.
Dans les figures n°2 et n°3 : on représente un volume élémentaire centré sur le sondage  3 ainsi que sur le sondage A.
Dans la figure n°2 les volumes 1 et 2 sont fusionnels mais leur fusion est facilitée par le fait que certains triangles (prisme) sont identiques -> le ma

[2018-04-04 09:21] vpicavet opened #31 "Create a logo"
We would need a logo for Albion. Sylvain, interested to make some proposals ?

[2018-04-04 09:22] vpicavet opened #32 "Clean issue list ( pardon our french )"
Whenever we release Version 1.0, we should have cleaned the issue list, and closed all initial issues written in French.

[2018-04-04 11:24] sylvainbeo commented on #31
Sure. Any constraints ?

[2018-04-06 12:08] #29 closed

[2018-04-06 12:08] #28 closed

[2018-04-06 12:08] #27 closed

[2018-04-06 12:08] #26 closed

[2018-04-06 18:39] vmora commented on #31
I thing we can attach our design attempts here. What do you thing about that

[2018-04-06 19:07] vmora commented on #24
doc is now in rst, you can have a look here https://github.com/Oslandia/albion/blob/master/doc/fr/index.rst

[2018-04-06 19:08] #21 closed

[2018-04-06 19:11] vmora commented on #19
Oui, les génératrices sont des segments 3D. La seule contrainte sur leur inclinaison/proximité est de nature topologique: pas de "croisement"

[2018-04-06 19:11] #19 closed

[2018-04-06 19:12] #17 closed

[2018-04-06 19:13] vmora commented on #7
A priori il suffit de selectionner les noeuds et de faire un "save as" en csv

[2018-04-06 19:13] #7 closed

[2018-04-06 19:17] vmora commented on #25
Je vais inclure le zip (2Mo) des données anonymisées directement dans le code, ça servira aussi pour les tests auto.

[2018-04-09 07:26] sylvainbeo commented on #31
![albion](https://user-images.githubusercontent.com/632751/38484831-1ee96788-3bd8-11e8-82f8-2847f2208eca.png)

[2018-04-09 07:27] sylvainbeo commented on #31
![albion_icone](https://user-images.githubusercontent.com/632751/38484876-416a6870-3bd8-11e8-9b07-1e8d8bed9ec7.png)

[2018-04-09 09:39] DUGUEY commented on #24
I notice small mistake on the  figures § Menu importation des données, it is necessary to crop the 2 figures

[2018-04-09 09:43] DUGUEY commented on #31
I like the icone n°9 +name °14, can we enhance the graph inside Albion ?

[2018-04-09 11:01] vmora commented on #25
Done.

[2018-04-09 11:01] #25 closed

[2018-04-09 11:15] vmora commented on #24
doc is fixed, closing for now (waiting for issue: doc in English)

[2018-04-09 11:15] #24 closed

[2018-04-09 11:17] vmora commented on #31
Some experiements

![dessin svg](https://user-images.githubusercontent.com/4415710/38495015-58c6f9be-3bf8-11e8-8814-62656fdf2192.png)

[2018-04-09 11:37] sylvainbeo commented on #31
![albion](https://user-images.githubusercontent.com/632751/38495769-1f193396-3bfb-11e8-9c43-3df120e31507.png)

[2018-04-09 12:02] vmora commented on #31
![g1260](https://user-images.githubusercontent.com/4415710/38496652-9aac2790-3bfe-11e8-94fb-698bc091e017.png)

[2018-04-09 12:15] sylvainbeo commented on #31
![albion](https://user-images.githubusercontent.com/632751/38497173-7d97f4a2-3c00-11e8-9800-d45cfb1e23a2.png)

[2018-04-09 15:03] vpicavet commented on #32
3.0 is fine, 1.0 and 2.0 were prototypes :-)

[2018-04-10 10:51] vmora commented on #18
@DUGUEY est-ce toujours d'actualité ?

[2018-04-12 09:16] #18 closed

[2018-04-12 09:16] #20 closed

[2018-04-12 09:24] DUGUEY commented on #31
I appreciate logo n°21 because : 1) there is 3D, 2)there is graph,3) there is geology, 4)the 3D volum is a like elementary volum => so  all the particularities of Albion software are inside  this logo . If we reduce the size is still ok ?

[2018-04-12 12:13] sylvainbeo commented on #31
![albion](https://user-images.githubusercontent.com/632751/38676526-9bbfb2c8-3e5b-11e8-892c-271d4d876c80.png)

With small versions and greyscale versions.

(1st small: outlines are proportionnal to size, 2nd: fixed)

[2018-04-12 12:36] DUGUEY commented on #31
I have the impression with the small size we lost  the graph idea in the name Albion

[2018-04-12 12:55] vmora commented on #31
I think that the size of the Type should be the size of the logo.

[2018-04-12 13:16] sylvainbeo commented on #31
![albion](https://user-images.githubusercontent.com/632751/38679592-69db7b8a-3e64-11e8-949e-b988bf8f6427.png)

[2018-04-12 13:30] KoalaGeo commented on #31
I if you don't mind an outsider jumping in, I wanted to say I like it. Also the image/symbol should work nicely as a favicon when resized for browser tabs/apps.

[2018-04-12 15:06] sylvainbeo commented on #31
Source here : https://github.com/Oslandia/albion/blob/master/res/albion_logo_final.svg

[2018-04-12 16:12] vmora commented on #31
Logo is in the doc: https://github.com/Oslandia/albion/blob/master/doc/fr/index.rst

[2018-04-12 18:49] DUGUEY commented on #31
I wonder if we can use the small icon 21 in the window Extension, where there is a list of all the plugins, I guest it is the favicon (see KoalaGeo message )

[2018-04-26 17:47] DUGUEY opened #34 "Export de trace of the drill holes"
It will be great to export in dxf format and obj (paraview) the drill hole trace and the geological intesect

[2018-04-26 17:51] DUGUEY opened #35 "Change the icone of Albion tools box"
Now Albion has a nice logo, maybe we can also enhance the icones of the Albion tools  box ?

[2018-04-26 18:26] DUGUEY opened #36 "Enhance the Delaunay triangulation in order to constrain it by geological trend"
The Delaunay triangulation is based on the minimum distance between the drill holes, it is definitely a good idea to correlate the information observed along the drill holes, due to the fact that less the distance between drill holes is important more the probability of the correlation between these boreholes is significant, but  geology is not mathematic  and we can have a geological trend where

[2018-04-27 04:53] vmora commented on #36
@DUGUEY could you give examples of such constrains please?

Are they sections that should be added by the geologist ? In other words: is it a  [constrained  Delaunay triangulation ](https://en.wikipedia.org/wiki/Constrained_Delaunay_triangulation) that you have in mind or something else ?

[2018-04-27 05:00] vmora commented on #31
Since the logo exists, I'm closing the issue.

@DUGUEY, @KoalaGeo  could you plz open a new issue for favicon (of which web site?) or other places the icon should go ?

[2018-04-27 05:00] #31 closed

[2018-04-27 05:11] vmora commented on #6
@SalimaEH TRACE et AVP ne sont plus/pas fusionnés.

Concernant la notion de "donnée ponctuelle", elle n'est pas encore présente dans Albion. Autrement dit, dans les couches projettées, le modèle géométrique est toujours un LineStringZ et on a pas de PointZ.

L'utilsateur peut potentiellement créer de telles vue manuellement dans PostGIS pour les visualiser ensuite dans qgis (st_3dlineinterpolatepo

[2018-04-27 05:34] DUGUEY commented on #36
Yes, constrain the triangulation by a specific trend even if the distance betwen 2 borehole is not the minimum distance example :
![delaunaytrend](https://user-images.githubusercontent.com/25370323/39346239-90d45562-49dc-11e8-8a06-1b79b23ecaf3.png)

[2018-04-27 06:16] DUGUEY opened #37 "Export the cross section"
Also it will be nice to export the cross section in 3D modeler (dxf format) anf of course obj format for paraview, as it was done before with old version of Albion (see picture below)
![export_crosssection](https://user-images.githubusercontent.com/25370323/39347462-7d830fb6-49e2-11e8-895e-8a6fecf4590b.png)

[2018-04-27 08:03] vpicavet opened #38 "Typo "lenght""
There is a typo somewhere in the dialog boxes : you have to replace "lenght" with "length"

[2018-05-03 12:55] DUGUEY opened #39 "Delaunay triangulation limitation and solution to work away"
So foar I notice two case where the Delaunay triangulation give me small problem.
1) When the deviation is too important :
![cross_section](https://user-images.githubusercontent.com/25370323/39576729-aa6e9540-4ece-11e8-83ce-42c5b2ec061f.jpg)
In this case I have no problem to build the 3D volums for the geolgical object A (in blue)  but the geological object B (orange)  is a not possible locally. S

[2018-05-04 07:20] DUGUEY opened #40 "Introduce faults in Albion"
Fault should be also modelise in Albion according to the mean meaning of the software (Delaunay triangulation to constrain de cross section trend , graph to constrain geological interpretation along the cross section). the idea to have different level of delaunay triangulation can be usefull to modelise the different type of faults (see figure below)

![fault](https://user-images.githubusercontent

[2018-05-15 08:22] jbeilin opened #41 "pat to nt.zip"
the path to nt.zip in the tutorial seems to be wrong.

https://github.com/Oslandia/albion/raw/master/data/nt.zip.

raw/master should be removed.

[2018-05-15 12:44] vmora commented on #41
I just clicked on the link above and it seems to work fine.

[2018-05-21 11:16] SalimaEH opened #42 "Python Error at early stage of Project creation"
QGIS and Albion have just been installed in Katco in Kazakhstan, wth the version 2.18.18 of QGIS
When trying to create a new project in Albion > New Project, after naming the .qgs file and entering the SRID EPSG, an error occurs and no new project is created:

_Traceback (most recent call last):
File "C:/PrLegacy/OSGEO4~1/apps/qgis-ltr/./python/plugins\albion\plugin.py", line 329, in __new_project

[2018-05-21 11:50] vmora commented on #42
Have you put capitals/spaces/accents in the project name ?

[2018-05-21 11:53] SalimaEH commented on #42
No, even without any capital, space or accent, we have the same error message

[2018-05-21 11:57] vmora commented on #42
The error could mean several things, I'll have to ask @DUGUEY if the Orano install has been tested successfully before.

[2018-05-21 12:01] vmora commented on #42
Which version of windows are you using ?

[2018-05-21 12:07] SalimaEH commented on #42
Okay, Emmanuel is anyway coming here tomorrow so we may also see it with him then :)
We're using Windows 7.

[2018-05-22 07:38] vmora commented on #42
Hi @SalimaEH, is Emmanuel around ? If it's the case, tell him that he can call me right away if the problem is still there.

[2018-05-24 04:47] DiasZh opened #43 "Delete project"
At the start it seems impossible to delete project. Can we add inside Albion in menu some option to do it?

[2018-05-24 04:54] DiasZh opened #44 "New project: Name"
For now it is not possible to use big letters and spaces in project name, can it be possible to enter name with space or capital? Also it is the name for directory path.

[2018-05-24 05:30] DiasZh opened #45 "Names of data file"
Can we change "avp" to "Gamma"?

[2018-05-24 05:33] DiasZh opened #46 "Resistivity file"
Can we have two resistivity files with the same structure?

[2018-05-24 06:07] DiasZh opened #47 "Mineralization"
In Kazakhstan we use our own algorithm for mineralization calculation. Can we import the mineralization file in Albion? (as we import lithology or facies files)
Structure of our mineralization file:
hole_id;from;to;thickness;grade;gt

[2018-05-24 06:12] DiasZh opened #48 "Chemical analysis file"
Can we add chemical analysis file into Albion? (as facies or lithology files)
Structure of chemical analysis file:
hole_id;sample_id;from;to;u;ra

[2018-05-24 08:10] DiasZh opened #49 "Termination"
Can we indicate in the metadata layer the distance of the termination (according to the distance of two drillholes 25%)?

[2018-05-24 17:03] vmora commented on #44
The naming limitation comes from the fact that the name of the project is the name of the database.

Databases can have any name, but they must be quoted. Most people just stick to lowercase letters, numeric digits, and underscores -- to avoid typing the quotes all the time.

To answer your question: it's possible, but not fun to implement and test (i.e. costly).

[2018-05-24 17:06] vmora commented on #45
The best way to do that IMO would be to allow importing files ones by one and allow to choose any name.

It'd be nice also to custom name the tables.

[2018-05-24 17:07] vmora commented on #46
Not at the moment. You'd have to merge them into one before importing.

[2018-05-24 17:09] vmora commented on #47
It's require some specific development, but it's somewhat related to the proposal of importing files one by one #45

[2018-05-24 17:10] vmora commented on #48
Again related to importing files one by one and creating custom tables #45

[2018-05-24 17:12] vmora commented on #49
No you can't at the moment.

It's been judged a lower priority for the first version and as not been implemented, but can be done.

[2018-05-25 03:02] #42 closed

[2018-05-25 03:42] DiasZh commented on #44
Thank you for answer. What about the space in the path directory?

[2018-05-25 05:52] DiasZh opened #50 "Template for each new project"
How to avoid to spend time at the beginig of each project, to organize working windows (LAYERS)? For example layer NODE, we could have automatically by saving kind of template, and it is could be the same to another layers related with MAP and cross-sections.

[2018-05-25 05:56] DiasZh opened #51 "Cross-section"
During the creation cross-section it gives us message:

_

2018-05-25T05:51:26 1 Traceback (most recent call last):
File "C:/PrLegacy/OSGEO4~1/apps/qgis-ltr/./python/plugins\albion\plugin.py", line 589, in __section_from_selection
self.project.set_section_geom(self.__current_section.currentText(), line)
File "C:/PrLegacy/OSGEO4~1/apps/qgis-ltr/./python/plugins\albion\project.py", line 606, in set_

[2018-05-25 07:27] DiasZh opened #52 "Close mineralization, termination"
How to close mineralization (termination) if mineralization into cross-section is stoped in last drillhole. Can we add tools to create easily FAKE barren drilholes to close the mineralization?
![Uploading Close.JPG…]()

[2018-05-25 07:35] DiasZh opened #53 "Creating cross-section"
I am working on deposit with NW - SE trend, I can not use MANDALA option, to create cross-section I use tool "Create temporary section", and it is not possible to use options "previous section" and "next section". Can we find practical way to solve this problem?

[2018-05-25 08:26] DiasZh opened #54 "Termination thickness"
With the actual version of Albion the termination thickness is 1 meter . It is not suitable for our deposit. Can we add optional? to have it like:
1) put number (for example 1m)
2) indicate a percentage according to the last intersect

[2018-05-25 16:44] vmora commented on #50
There is already a template project. It just needs to be configured.

If someone is willing to create a project with the name `template_project`, add layers and work on their symbology, I'm willing to replace the current one.

[2018-05-25 17:20] vmora commented on #44
Have you seen issues with spaces in the path directory of the project file ?

[2018-05-28 10:59] vmora commented on #50
.qgis2/python/plugins/albion/res

[2018-05-29 08:20] vmora opened #55 "Vaccum analyse after import"
Otherwise the db is slow

[2018-06-01 09:30] DUGUEY opened #56 "Add a pdf file in Albion plugin"
can we add this pdf  file in the next version of Albion to describe the algorithme of the mineralisation calculation ?
[Chantiers_miniers_Rev SIM.pdf](https://github.com/Oslandia/albion/files/2062150/Chantiers_miniers_Rev.SIM.pdf)

[2018-06-01 12:24] DUGUEY opened #57 "To edit and change the lithology table (and the others tables) during albion modelisation"
When we start to correlate the geological intersect with others, we can notice some problem concerning the lithology (or other table...), with the actual version of Albion we are able to modify the code of the lithology   but not the tickness of the geological intersect, can we add this functionnality in next Albion version ?  in this case it would be necessary to add a column comments in order to

[2018-06-01 12:28] DUGUEY opened #58 "Z Scale and diagraphy"
When we change the Zscale factor in the cross section, the litholgy, facies and others tables change as well, but not the diagraphy layers.

[2018-06-01 12:57] #38 closed

[2018-06-01 12:57] vmora commented on #56
Done in 84d4101

[2018-06-01 12:57] #56 closed

[2018-06-01 12:58] DUGUEY opened #59 "metadata table"
1) What is the use of the field [close_collar_distance] ?
2) I did a model where the correlation distance was not respected. the correlation distance was 50 meters but correlation were done aver 50 meters, maybe because I changed the section geometry and changed the length and rotate the section.anchor layer ?

[2018-06-01 13:14] vmora commented on #57
Somewhat related to custom tables (to easily configure new fields) and an functionality to couple to/from fields with geometry.

[2018-06-01 13:16] vmora commented on #58
This is due to the fact that those are materialized views.

In the qgis db manager, you can issue a:

REFRESH MATERIALIZED VIEW albion.current_radiometry_section

[2018-06-04 07:04] DUGUEY commented on #50
In the proposed template one layer is missing : the [current_section_polygone]: but we don't have access to this layer at the begining of the project in  postGis table windows.

[2018-06-04 07:17] DUGUEY opened #60 "Small problem when we start a project"
At the begining of the projet after to download the data when we setup the overview window with the collar, the layers [cell] and [section] doesn't fit with the overview window  where collar are plotted, I guess that there is 0,0 coordinates in the [cell] and [section] layers.

[2018-06-04 07:32] DUGUEY opened #61 "Stratigraphic log"
Can we add in the stratigraphic log, the lithology and a facies columns ? also it will be nice to have the same color for the cross section intersect and for the log.
Actually, the depth scale is in fact the elevation, it would be better to use depth scale instead of elevation

[2018-06-04 09:07] vmora commented on #50
Yes, there is a **missing typecast in the definition of current_section_polygon**, so qgis needs to have records in there to be able to load this layer (which happens after edges have been added to the first graph).

I need to fix the view, could you open an issue with what is highlighted as the title and link to this issue plz.

[2018-06-04 09:08] vmora commented on #60
Can you check that there is such a point in the layer plz.

[2018-06-04 09:09] vmora commented on #61
Minor improvements like that can be made, but I'd like to invest some time to port that functionality in qgis core at some point.

[2018-06-04 11:39] DUGUEY commented on #60
I didn't see points with 0,0 coordinates, but when I zoom to the full  [cell] layer, the map is not centred to the layer [cell]. the only way to solve the problem it is to delete the layer and load it again using postgis data base. The same for [section] layer

[2018-06-04 12:24] DUGUEY opened #62 "Layer [current_section_polygone] is missing in PostGis at the beginning of the project"
To be able to load the layer [current_section_polygone] from postgis we need to create a graph and edge, so this layer is not visible at the begining of the project, it 's not big deal but it will be more conveniant to be able to load it at the begining before to create edge

[2018-06-04 12:35] DUGUEY opened #63 "create a layer : [current_possible_polygone]"
As we have a layer [current_possible_edge] it seems to be useful to have also a [current possible_polygone]. it would be helpfull to validate this layer  before to copy the [possible edge] layer inside the [edge] layer.

[2018-06-05 07:29] DUGUEY opened #64 "Elementary volume add field in the table [volume]"
can we add a field  volume (in cubic meter) in the layer [volume] ?

[2018-06-05 08:50] vmora commented on #64
![](http://www.etreacteur.fr/wp-content/uploads/2014/04/obama-yes-we-can.jpg)

[2018-06-12 14:04] metavo opened #65 "Installing"
Hi, I'm having some issues with installing it as it's not able to find albion.package.
Is it meant to run with Python 2.X or Python 3.X?

[2018-06-19 17:12] labarros commented on #65
Hello, I had problems installing the albion in QGIS 3.0.2. Is there a solution?

[2018-06-19 19:30] vmora commented on #65
@labarros not supposed to work with qgis 3 yet

[2018-06-19 19:40] vmora commented on #65
@metavo although albion is a qgis plugin, it's inner logic is in postgis, and there are a couple of non-standard dependencies (including a custom branch of postgis).It is not meant to remain like this eternally, but for now packaging and deploying is a bit tricky.

If you are willing to spend the time, you can analyse the qgis-ltr-albion-plugin package on https://gitlab.com/Oslandia/osgeo4w and lo

[2018-06-19 21:05] labarros commented on #65
Thanks Vicent, anyway I'll give a look at the osgeo4w package

[2018-06-25 07:29] DUGUEY opened #66 "Self intersection along the cross section polygone"
A bug (self-intersection) was detected when cross section is perfectly aligned to projection trend, in this particular case, no possibilities to view the polygone along the cross section without to modify manually the anchor section and generate again the cross section

[2018-06-25 08:18] DUGUEY opened #67 "Enhance the correlation"
the correlation is calculate according to the  edge angle. This angle is calculate with the edge linked two **centroids** segments (see figure A) in order to enhance the correlation can Albion take in account also the angle betwen the top and  the bottom of the edge (see figure B)  ? the correlation would be done if one these 3 angles is below a specific angle.

Figure A :
![correl_a](https://user

[2018-06-25 11:52] DiasZh opened #68 "Metadata"
how to change angle in metadata for each layer separately, for example fro clay and carbonate by graph_id?

[2018-06-25 14:04] vmora commented on #68
the correlation angle is set globally, but is only used to compute the candidate edges (possible_edges)

you'll have to change it just before you copy your candidate edges in the edge layer

[2018-06-26 21:08] labarros commented on #65
Hello Vicent, when installing the albion plugin in QGIS 2.18.12 the following error message appeared: Could not load plugin albion due to an error when calling its classFactory () method

ImportError: No module named pglite
Traceback (most recent call last):
  File "C: /PROGRA~1/QGIS2~1.18/apps/qgis/./ python \ qgis \ utils.py", line 333, in startPlugin
    plugins [packageName] = package.classFac

[2018-06-27 07:09] vmora commented on #65
pglite is here https://github.com/Oslandia/pglite

[2018-06-27 08:55] #68 closed

[2018-06-29 19:45] wantolinez4 commented on #40
Hi every one, I'm new in this. I would like to use Albion to construct a 3D geological model for my study basin. Can someone tell me how I can install the software in Q-GIS 3? Thank you very much!

[2018-06-30 15:38] wantolinez4 commented on #40
Thaks for the information Vincent!... do you you have a tutorial to install Albion in qgis 2? Thank you very much!

[2018-06-30 18:51] vmora commented on #40
@wantolinez4 no installation tutorial yet, sorry for that.

[2018-07-02 13:43] wantolinez4 commented on #65
Hi every one... can one help me with the procedure of installation? Thank you very much!... and some tutorial to use the program : )

[2018-07-03 14:57] wantolinez4 opened #69 "Installing in Q-GIS 2.18"
Hi every one... can one help me with the procedure of installation in Q-GIS 2.18 and some tutorial to use the program? Thank you very much!...  : )

[2018-07-06 07:51] mongoliauugan opened #70 "Projection system"
I am working in Mongolia with WGS 1984 UTM zone 49N. when I entered, Mongolian projection( 32649 )  it does not work. I can only use project SRID EPSG: 32632. is it a bug ??????

[2018-07-06 07:59] mongoliauugan opened #71 "Cross-Section name"
![csproblem](https://user-images.githubusercontent.com/40883952/42367307-44ef5798-80f3-11e8-98c1-a3511fc0c9fc.jpg)
I changed trend of cross-sections instead of NS and EW, I have NE-SW and NW-SE cross-sections. I changed the legend in the layer of [section] but it did not change in the albion tools ( still NS and EW ).

[2018-07-09 08:16] vmora commented on #69
Hi @wantolinez4, you can have a look at https://gitlab.com/Oslandia/osgeo4w/tree/master/packages/qgis-ltr-albion-plugin

The dependencies are listed there, and the way to build the bits and pieces are in the packages this one depends upon. Sorry it's not and easy install yet.

[2018-07-09 08:31] vmora commented on #70
I checked on my machine that 32649 is in postgis, and it is, maybe it's not on the postgis version you have installed.

@DUGUEY could you plz open a project in qgis, open the DB Manager and try the command:

[code]

If it return a line, it means that there shouldn't be a problem (or there is a bug), if there is no line, then we will upgrade postgis in the packages.

[2018-07-09 08:34] vmora commented on #71
The description of how you proceeded is not enough for me to understand the issue. To change the "default" cross sections, you'll have to first edit the "anchor" layer geometries (it defines the direction of projection) and the names. Then you'll have to refresh the sections (somewhere in the albion menu).

[2018-07-11 15:52] wantolinez4 commented on #65
I have the same problem of @labarros ... what is the solution? Thank you

[2018-07-11 16:10] wantolinez4 commented on #65
Now appears this...
![untitled2](https://user-images.githubusercontent.com/20325438/42585338-51983c8a-8503-11e8-86c4-9aed320c59bb.png)
What can I do? Thanks

[2018-07-13 05:41] DUGUEY commented on #70
![2018-07-13_07-39-48](https://user-images.githubusercontent.com/25370323/42674454-5356e794-865f-11e8-900d-87fa991f0d64.png)

[2018-07-13 20:46] vmora commented on #70
looks good to me

@DUGUEY can you reproduce the bug or are you able to create a project in 32649 ?

[2018-07-20 12:22] DUGUEY opened #72 "Drill hole trace"
The drill hole traces created by Albion were compared with the traces created by other 3D modelling software. **The both traces using the tangentiel balanced algorthm are the exactly the same**.  Nevertheless, I notice a difference with the location of geological intersect ( shifting round 40 cm) along the drill hole, if I enter in my project a gamma  table or not. I believe that the shift is comm

[2018-07-20 12:26] DUGUEY opened #73 "Export project"
The export project doesn't export the full project, the graph and and the edge are not exported, just the data loaded at the begining and the section are present in the exported project.

[2018-07-20 13:09] vmora commented on #72
The hole depth is the max of the depth found in other tables:

``sql
with dep as (
                    select hole_id, max(to_) as mx
                        from (
                            select hole_id, max(to_) as to_ from _albion.radiometry group by hole_id
                            union all
                            select hole_id, max(to_) as to_ from _albion.resistivity group by ho

[2018-07-20 13:13] vmora commented on #73
This is really weird since the export uses a dump of the database.

[2018-07-20 13:16] DUGUEY commented on #73
The possible edge is exported but not the edge.....

[2018-07-26 07:08] DUGUEY commented on #72
I create small Albion projects with 3 drillholes, the trace and the intersect location are calculated with Albion, in one project I have gamma table, in the other project no gamma table. The collar,  the deviation and lithology table are the same in the two projects. At the end the traces are the same in the two projects, but lithology intersect (in blue and brown) are not located at the same leve

[2018-07-26 07:19] DUGUEY opened #74 "Add an Export elementary volumes"
It would be nice to add a possibility to export all the elementary volumes in dxf and obj format !!!

[2018-07-26 15:32] MKeromnes opened #75 "Installation problem"
Hi everyone,
I tried to install Albion on a computer and it doesn't work. (I succeed to install albion on few computers)
This is the error message:

Impossible de charger l'extension albion provoque une erreur lors de l'appel de sa méthode classFactory()

IOError: [Errno 2] No such file or directory: 'C:\\Users\\kouadio.adou\\.pglite\\pg_data\\postgresql.conf'
Traceback (most recent call last):

[2018-07-26 19:54] vmora commented on #72
Can you change the symbology to include a line offset for all lines such that they can be distinguished from one another plz ?

This is a weird result indeed.

[2018-07-26 20:02] vmora commented on #75
@mhugo this is a weird bug with pglite isn't it ?

[2018-07-26 20:15] MKeromnes commented on #75
I tried to install PostGres (the full version) on this computer... and... It didn't work...

[2018-07-26 20:37] vmora commented on #75
Not a good idea, it may be the other postgres install that conflicts with pglite. Normally you shouldn't need anything else that the provided installer.

[2018-07-27 07:03] mhugo commented on #75
Hi @MKeromnes.

1. Does `C:\Users\kouadio.adou\.pglite\pg_data` exist ?
2. If not, could you try to launch the init command manually and give us the output:
[code]

[2018-07-27 19:47] vmora commented on #75
the command to launch is actually:

[code]

@mhugo I suppose the modified path has no effect for pglite. It works on other installs.

[2018-08-14 08:52] cesarcorreo commented on #75
Same problems for the instalation......
¿Step by step intalation instructions? Thanks in advance

 ImportError: No module named pglite
Traceback (most recent call last):
  File "C:/PROGRA~1/QGIS2~1.18/apps/qgis-ltr/./python\qgis\utils.py", line 333, in startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "C:/Users/usuario/.qgis2/python/plugins\albion-master\__init__.py", line

[2018-09-19 10:46] cesarcorreo commented on #75
Could you give us a bit more information about the plugin? I'm really interested on it but I'm having a lot of problems to install it.
When it will be released definitively?
Thanks

[2018-09-24 08:50] vpicavet commented on #75
Hello Cesar, Albion is still being worked on, and we agree that installation is not as easy as it could be. If you have trouble installing or using it, Oslandia provides full support for this software package. Please contact Oslandia directly for more information.

If you have specific technical problems, please create a new issue for each.

[2018-09-26 12:13] cesarcorreo opened #77 "Error creating new project"
I finally success installing the plugin. Once installed I'm trying to  create a new project but I'm having the next Python error:
2018-09-26T14:07:24	1	Traceback (most recent call last):
File "C:/Users/usuario/.qgis2/python/plugins\albion-master\plugin.py", line 268, in __new_project	    cur.execute("create extension plpython3u")
	InternalError: no se pudo cargar la biblioteca «C:/PostgreSQL/10/li

[2018-09-26 13:31] vpicavet commented on #77
This looks like a PostgreSQL install error, which is not directly related to Albion. Please contact Oslandia directly if you want extended support on all these subjects.

[2018-11-30 06:33] mikesbots commented on #75
I'm very excited at the possibilities that Albion offers, it is a breakthrough indeed. I would gladly be a part of a contributing community.  Sadly though it remains beyond my reach and possibly beyond the reach of ordinary geologists everywhere who do not have the computing/programming/scripting knowledge to navigate through the complicated installation in the absence of a user-friendly guide to

[2018-12-04 15:48] KoalaGeo commented on #75
Hi Vincent,

I'm working in Linux, with QGIS 2.18. I've managed the install however I have the message "This Plugin is broken - No module named pglite"

I've installed pglite but I'm still getting the same message. Do you have any suggestions?

Kind regards,

Edd

[2018-12-04 16:01] vmora commented on #75
@KoalaGeo this looks like a python issue, have you installed pglite with python2 or python3 ?

[2018-12-05 09:59] KoalaGeo commented on #75
I'm running Python 2.7. I installed pglite using the "Example" instructions @ https://github.com/Oslandia/pglite

[2018-12-05 14:22] vmora commented on #75
Did you play around with python like in the example ? Did you install it in the vurtualenv or systemwide ? If you installed in virtualenv, the error is to be expected because qgis has no access to it.

[2018-12-06 10:44] KoalaGeo commented on #75
Ah that was it, hadn't installed systemwide, although now I've got "ImportError: No module named QtOpenGL"

Think I'll just wait for now until Albion hopefully finds its way to the plugin manager.

[2018-12-13 10:01] pblottiere commented on #73
Hi @DUGUEY,

I just tested the `Export Project` feature and everything is working well. Graph and Edges are correctly exported/imported:

![bl](https://user-images.githubusercontent.com/9266424/49930944-9cef4280-febd-11e8-9b9c-13be8a69f743.png)

However, you have to be careful because the name of the database is not updated during the export (the original name is kept).

I'm closing this issue, bu

[2018-12-13 10:01] #73 closed

[2018-12-13 11:10] DUGUEY commented on #73
can you try with this project, it's doesn't work with my Albion version. The project is load but nothing on the screen
[testa.zip](https://github.com/Oslandia/albion/files/2675683/testa.zip)

[2018-12-13 12:12] #60 closed

[2018-12-13 12:22] pblottiere commented on #60
Hi @DUGUEY,

This issue should be fixed now.

FYI, you can manually update the extent of a layer without reloading it from scratch:

![aa](https://user-images.githubusercontent.com/9266424/49938386-a8e4ff80-fed1-11e8-96bc-194971d9461b.png)

[2018-12-14 17:11] #62 closed

[2018-12-17 13:19] pblottiere commented on #73
Hi @DUGUEY,

I didn't succeed in importing your project because I'm using PostgreSQL 11 and there's some kind of incompatibilities in the dump file.

However, I took  a look on the content, and I noticed that :

[code]

Considering that `albion.edge` and `albion.graph` are based on `_albion` views, it shouldn't be empty...

Can you manually open the `_albion.edge` and `_albion.graph` from the Post

[2018-12-17 13:35] DUGUEY commented on #73
Need your help can you call me……

Emmanuel

De : Blottiere Paul [mailto:notifications@github.com]
Envoyé : lundi 17 décembre 2018 14:20
À : Oslandia/albion
Cc : DUGUEY Emmanuel (ORN-MN); Mention
Objet : Re: [Oslandia/albion] Export project (#73)

Hi @DUGUEY<https://github.com/DUGUEY>,

can you try with this project, it's doesn't work with my Albion version. The project is load but nothing on the s

[2018-12-17 14:08] DUGUEY commented on #73
there is records in edge table from the original project but not in the exported project....
Emmanuel

[2018-12-17 14:59] pblottiere commented on #47
A mineralization file may be imported with the `Import data` action now: https://github.com/Oslandia/albion/pull/81.

The header of the file: `hole_id;level_;from_;to_;oc;accu;grade`.

[2018-12-17 14:59] #47 closed

[2018-12-17 16:20] pblottiere commented on #58
Hi @DUGUEY,

[code]

`albion.current_radiometry_section` is just a simple view, so the previous statement won't work. However, this view is searching the geometry within the materialized view `albion.radiometry_section`. Can you try the next statement instead and check the content of the `current_radiometry_section` layer again please?

[code]

BTW, it's the same logic with the `albion.current_res

[2018-12-18 13:11] DUGUEY commented on #58
Yes it s PERFECT ! can you do a button to refresh the diagraphy when we change the scale ,

[2019-01-02 16:21] #58 closed

[2019-01-02 16:22] pblottiere commented on #58
Hi @DUGUEY,

A new button has been added to refresh diagraphy layers:

![p](https://user-images.githubusercontent.com/9266424/50600935-947d9c80-0eaa-11e9-978d-b823c43b333e.png)

[2019-01-02 17:26] #48 closed

[2019-01-03 13:53] #59 closed

[2019-01-04 09:55] pblottiere commented on #73
[albion.zip](https://github.com/Oslandia/albion/files/2726531/albion.zip)

[2019-01-21 10:05] #63 closed

[2019-01-25 13:57] DUGUEY opened #87 "Windows installer does not work on W10"
Create a package for windows 10

[2019-01-25 13:59] DUGUEY opened #88 "Update Albion for QGIS 3.2"
Update Albion with QGIS 3.2

[2019-01-25 13:59] DUGUEY opened #89 "New developpment for the version 2.2"
Update Albion with python 3.2

[2019-01-25 14:01] DUGUEY opened #90 "New developpment for the version 2.2"
Update an Albion project when we add new drillhole

[2019-01-25 14:16] DUGUEY opened #91 "Connect Albion to acQuire database via the free AcQuire API"
Connect Albion to acQuire database via the free AcQuire API.
download to the web site : https://www.acquire.com.au/resources/downloads/developer-tools/
section « Technology Partner Tools ».

[2019-01-31 09:19] pblottiere commented on #89
Implicit duplication with: https://github.com/Oslandia/albion/issues/88

[2019-01-31 09:19] #89 closed

[2019-01-31 13:51] #51 closed

[2019-02-14 15:28] vpicavet commented on #91
Delayed for after 2.2

[2019-02-14 15:31] #32 closed

[2019-02-14 15:32] vpicavet commented on #32
Done :-)

[2019-02-22 09:40] DUGUEY opened #95 "Add in 3d View the cross section View"
Can we add in 3D view the 2 (NS and EW trends ) actives cross section ?

[2019-02-22 10:19] DUGUEY opened #96 "Enhance the process to create graph"
The process to create graph is simple after 2 or 3 weeks of practice. At the begining it is a little bit  tricky to remember that we need to select the geological intervals to copy the intervals in the node layers to save the layers to add the name of the graph in the node layers. it will be strongly appreciate for the beginer to simplify all these simple task...

[2019-02-26 10:15] mhugo commented on #61
@DUGUEY Ideally we should target the integration (and improvement if needed) of this component
https://github.com/Oslandia/qgis_well_log

[2019-03-05 15:27] vmora commented on #66
@DUGUEY can you join a screenshot of the geometry of the section (view from above) plz

[2019-03-05 17:14] vmora commented on #96
- in create graph widget, add a layer selection and a filter condition to create nodes directly
- adds menu option to convert possible edge into edges

[2019-06-24 14:13] vmora commented on #67
@DUGUEY can you try in QGIS DB Manager to replace the  `possible_edge` view by the follwing. :warning: I only made the change for graphs that have no parent.

First remove the `possible_edge` view and `current_possible_edge_section` that depends on it.

[code]

Then replace `$SRID` in the following view deffinition by your project srid and re-create the  `possible_edge` view

[code]
Last re-create

[2019-06-27 16:40] vmora commented on #67
Solution for both base graphs and child graphs:

[code]

[2019-06-28 05:43] DUGUEY commented on #67
Yes it's work !!!! the automatic correlation appears much more smart ! I have also the strong impression that we can again increase the quality if we avoid all the crossing edge.

[2019-06-28 06:54] vmora commented on #67
@DUGUEY I think we could do that by detecting crossings and selecting the "best" edge: the one with the "best" characteristics. The smallest angle with the parent is a candidate for the definition of "best".

[2019-06-28 07:14] DUGUEY commented on #67
yes the smallest angle is the best candidate !

[2019-07-02 15:18] vmora commented on #72
@DUGUEY I found the source of the issue.

To take care of the case where there is no deviation information fro the hole, we use the attribute `depth_` that we compute as the max depth of all data defined as hole segments between a `from_` and a `to_`. We do that for each hole.

The hole geometry is computed with the deviation information. If the length of the obtained geometry is too short, we len

[2019-07-08 09:10] vmora commented on #72
[code]

[2019-07-15 06:58] vmora commented on #70
@DUGUEY I was able to create a project using EPSG:32649, there is only an issue with the qgis project template.

[2019-07-15 07:25] vmora commented on #66
Solved in 1ca9b87

[2019-07-15 07:39] vmora commented on #49
@DUGUEY the distance of terminations can be a relative distance, which is safe, or an absolute distance, but in this case the user must be sure that the required distance is inferior to the distance between the closest holes (or bad things will happen).

[2019-08-23 09:31] vmora commented on #53
I have introduced a second type of cross-sections that serve two purposes: constrain the delaunay triangulation and ease the section creation process.

Those sections are created by selecting the section direction in the section selection box, selecting collars and pressing  "CTRL+ALT+m".

We now refer to the mandala sections as "subsections" (waiting for a better word).

There is now four icons t

[2019-08-26 07:36] vmora commented on #34
Needed export are .vtk for paraview and .dxf

[2019-10-10 16:40] DUGUEY opened #97 "Small bug on the mineralization calculation table"
In the mineralization table the records in field [accu] are wrong : to correct the records it is necessary to divide by 10 . by definition [Accu] = [oc]*[grade]
![image](https://user-images.githubusercontent.com/25370323/66588612-267aaa00-eb8d-11e9-96d1-1e84cb992655.png)

[2020-01-06 13:53] #69 closed

[2020-01-06 13:55] vmora commented on #65
@wantolinez4 sorry for the very late reply, you are missing pglite https://github.com/Oslandia/pglite

[2020-01-06 13:58] vmora opened #98 "Help entry in Albion menu doesn't work in windows install"
It's probably a packaging issue.

[2020-01-06 14:06] vmora commented on #98
@lbartoletti the help is not in the osgeo4w package, I tested albion.package -i and it builds the doc on linux for me, should work  on windows too.

[2020-01-12 18:52] vmora commented on #98
Problem solved in latest version.

[2020-01-12 18:52] #98 closed

[2020-01-15 07:04] DUGUEY opened #99 "End node thickness should be relative"
Remplace the thickness end point by a relative thickness end point

[2020-01-15 07:05] DUGUEY opened #100 "Mandal with Ctrl-Alt-K"
I have the impression that the mandala doesn't work anymore with Ctrl-Alt_K ....

[2020-01-15 07:07] DUGUEY opened #101 "error volume in 3d"
I can not plot on 3d view the error volume

[2020-01-15 07:08] DUGUEY opened #102 "Toggle Axis does not work"
The toggle menu doesn't work, I propose the delete it ?

[2020-01-15 10:16] vmora commented on #102
With qgis grid, I think indeed that the axis are not necessary.

[2020-01-15 10:24] vmora commented on #100
@DUGUEY do you have the same error:

[code]

Or is it something else ?

[2020-01-15 11:30] vmora commented on #99
Note, for nodes with small thickness, we have termination with thickness  below usability.

[2020-01-15 11:35] vmora commented on #87
Works fine now.

[2020-01-15 11:36] #87 closed

[2020-01-15 11:36] vmora commented on #101
Are you sure there are errors ?

[2020-01-15 11:44] vmora commented on #71
No reaction after a year and a half, hope the problem is solved, closing the issue (re-open if needed).

[2020-01-15 11:44] #71 closed

[2020-01-15 11:46] vmora commented on #70
The template SRID is replaced now, this bug should be fixed.

[2020-01-15 11:47] vmora commented on #67
@DUGUEY could you test the new version, I'm not sure everything is implemented, but correlation has indeed been improved.

[2020-01-15 11:53] vmora commented on #54
I believe this is duplicated by #99, closing (#99 is implemented)

[2020-01-15 11:53] #54 closed

[2020-01-15 11:59] vmora commented on #52
You coming version we can add collars (with qgis edit collar table, add collar and set the depth of the hole) a barren drillhole will be added automagically.

[2020-01-15 12:08] #34 closed

[2020-01-15 12:08] #35 closed

[2020-01-15 12:09] #37 closed

[2020-01-15 12:09] #39 closed

[2020-01-15 12:31] DUGUEY commented on #91
finaly no need....

[2020-01-15 12:31] #91 closed

[2020-01-15 13:18] vmora commented on #44
@DUGUEY shal we keep this issue opened ?

[2020-01-15 13:21] vmora commented on #43
A project consists in a .qgz/.qgz QGIS project file and a database, to completely remove a project we need to delete both. For now you cant do that on command line `python3 -m pglite drop <name_of_project>`.

[2020-01-15 13:22] vmora commented on #41
re-open if needed

[2020-01-15 13:22] #41 closed

[2020-01-15 13:25] vmora commented on #46
You can now add a layer from any format that qgis supports (e.g. csv) then import the data in albion database from the "import layer" entry in albion menu.

The layer must have:
- a `hole_id` or `holeid` fiels that references a hole (collar id)
- a `from` or `from_` field
- a `to` or `to_` field
the fields name are case insensitive

[2020-01-15 13:26] vmora commented on #49
With the coming version of albion this is possible.

[2020-01-15 13:51] vmora opened #103 "Export arbitrary layer in dxf and vtk formats"

[2020-01-15 13:56] vmora opened #104 "Add metadata to project template"

[2020-01-15 14:01] vmora opened #105 "Add confimation dialog to cell creation"
If cells are re-generated, the graph will become invalid, this entry should not be triggered accidentally.

[2020-01-15 14:06] vmora opened #106 "Remove version from metadata view"
The user has no interest in the information, and accidental edition could be bad for the future.

[2020-01-15 14:12] vmora opened #107 "Add parent field to node_section view"

[2020-01-15 16:24] vmora opened #108 "Add is_closed attribute to volume view"

[2020-01-15 16:25] vmora opened #109 "Edge id is not set automatically"

[2020-01-15 16:32] #66 closed

[2020-02-10 08:22] #49 closed

[2020-02-10 08:22] #97 closed

[2020-02-10 08:22] #99 closed

[2020-02-10 08:22] #100 closed

[2020-02-10 08:22] #102 closed

[2020-02-10 08:22] #103 closed

[2020-02-10 08:22] #105 closed

[2020-02-10 08:22] #106 closed

[2020-02-10 08:22] #107 closed

[2020-02-10 08:22] #109 closed

[2020-02-10 08:44] vmora commented on #96
fixed in r2.2

[2020-02-10 08:44] #96 closed

[2020-02-10 08:44] vmora commented on #95
done in r2.2

[2020-02-10 08:44] #95 closed

[2020-02-10 08:45] vmora commented on #88
done in r2.2

[2020-02-10 08:45] #88 closed

[2020-02-10 08:45] vmora commented on #72
fixed in r2.2

[2020-02-10 08:45] #72 closed

[2020-02-10 08:45] vmora commented on #70
fixed in r2.2

[2020-02-10 08:45] #70 closed

[2020-02-10 08:45] vmora commented on #67
done in r2.2

[2020-02-10 08:45] #67 closed

[2020-02-10 08:46] vmora commented on #64
done in r2.2

[2020-02-10 08:46] #64 closed

[2020-02-10 08:46] vmora commented on #53
done in r2.2

[2020-02-10 08:46] #53 closed

[2020-02-10 08:46] vmora commented on #52
done in r2.2

[2020-02-10 08:46] #52 closed

[2020-02-10 08:46] vmora commented on #46
done in r2.2

[2020-02-10 08:46] #46 closed

[2020-02-10 08:48] vmora commented on #61
Well logs are now handled by [QGeoloGIS](https://github.com/Oslandia/QGeoloGIS), please open issues there when needed.

[2020-02-10 08:48] #61 closed

[2020-02-10 08:49] vmora commented on #104
done in r2.2

[2020-02-10 08:49] #104 closed

[2020-02-10 08:51] vmora commented on #101
@DUGUEY can you please give a more precise procedure to reproduce ?

[2020-02-10 08:54] vmora commented on #45
You can now import any qgis layer that satisfies the conditions listed in #46

[2020-02-10 08:54] #45 closed

[2020-02-10 08:55] vmora commented on #36
With the named section introduced in r2.2, the triangulation is constrained.

[2020-02-10 08:55] #36 closed

[2020-02-10 12:25] DUGUEY commented on #101
with the new version it's work !!, in 3D view I can see the errors volumes

[2020-02-10 12:27] DUGUEY commented on #101
With the new  Albion version it  works and, I m able to see the errors volumes in the 3d window

[2020-02-10 12:52] #101 closed

[2020-03-25 02:31] djcronkw commented on #75
I'm having trouble trying to install albion. It looks quite promising and could add a lot of utility to QGIS. I am a geologist with hardly any coding background so I think that is my main problem!

It says "No module named 'pglite'"

ModuleNotFoundError: No module named 'pglite'
Traceback (most recent call last):
  File "C:/OSGEO4~1/apps/qgis-ltr/./python\qgis\utils.py", line 334, in _startPlugin

[2020-04-02 07:48] DUGUEY opened #114 "Resistivity and section_anchor"
I notice if I change the location of Anchor line, the resistivity section layer doesn't follow the Anchor line, and the resistivity stay at the previous location to the Anchor line

[2020-04-02 08:35] vmora commented on #114
Did you refresh the sections ?

[2020-04-02 10:46] DUGUEY commented on #114
Ooooops I forget,!!! yes it's ok when you refresh selected layers section

[2020-04-02 10:47] DUGUEY commented on #114
Oooops forget, now it's work when Irefresh

[2020-04-02 10:48] DUGUEY commented on #114
Ooops, I forget, it'swork when I refresh

[2020-04-02 10:48] DUGUEY commented on #114
Ooops, I forget, it'swork when I refresh

[2020-04-08 14:59] DUGUEY opened #115 "Add a button to zoom automatically to the selected type cross section"
It would be nice to add a button in th Albion Tools box to zoom on the cross section in the main map view. The cross section trend would be defined by the selected cross section view (WE x4 or NS x4 etc...), it would be also necessary to rotate automaticaly the view according to the  Anchor line angle.

[2020-04-09 10:01] DUGUEY opened #116 "Mineralization table is not load when we load the data using the import layer menu"
Small to problem to solve, I guess but in the tutorial data the mineralization table is not load, when we load all the data in the selected directory

[2020-04-09 10:08] DUGUEY opened #117 "Change the name of the avp table"
Can we change the name of the avp table ?,instead  of avp key word can I propose to use radiometry word, it would be more correct t, avp word is coming from orano and not really correct according to the records of this table

[2020-04-15 16:03] DUGUEY opened #118 "log view"
Maybe this issue is not on the right place beacause it 's concern the log view......I notice when there is many collars selected on the map with Albion, the order of the log is not respected on the log view can we re_order the log view in order to be conform with the Albion map (as it is on the image below ?)

[2020-04-15 16:21] DUGUEY commented on #118
Can we add also the name of th drillhole on the top of the low view ?

[2020-04-16 06:41] vmora commented on #118
@mhugo is there a slot in QGeologis that could be used to send the list of points to be displayed.

@lbartoletti If it's the case, I think that we could use a custom button in albion to order the collars according to albion's logic.

[2020-04-16 06:52] mhugo commented on #118
Points = QGIS features ("stations") in the root layer ?
@vmora the view updates when the associated layer updates its selected features. Adding a public interface for the update of features seems ok for me.

[2020-04-16 07:39] DUGUEY opened #119 "Log view remove column"
The remove column buton in the well log Tools working only temporarily. the selected column disappear for the view log when press the button at the time 1. But at  the time 2 when I want to see an another well log the column appears again.

[2020-04-16 07:43] DUGUEY opened #120 "Log view geogical lithology symbol"
I have the impression that there is no lithological symbol in the QGIS/Albion package, can we add this Library for the new Albion package ?

[2020-04-16 10:32] vmora commented on #118
@mhugo I'm wondering if there is a more generic feature behind the request, like a configurable "order by" clause.

In the case of albion it's a bit specific since the order is given by line location, but in most cases ordering along east-west and/or south-north would be just fine.

@DUGUEY do you think an east-west ordering, maybe taking into account the map rotation (like a left-right ordering)

[2020-04-16 10:34] vmora commented on #118
@DUGUEY could you open another issue for the drillholes names (a QGeologis issue I think). I think the name is displayed in the mouse-over already).

[2020-04-17 07:50] DUGUEY commented on #118
yes an east-west and north-South ordering taking in account the rotation map will be perfect

[2020-04-17 07:53] DUGUEY opened #121 "QGeologis - drillholes names"
The  drillholes name  appears only when we move the mouse on the diagraphy curves, can you add systematically on the top of the column the drillhole name ?

[2020-04-21 17:34] saulogmenezes commented on #75
Hi everyone!

I've been getting such error when trying to run the plugin:

Couldn't load plugin 'albion-master' due to an error when calling its classFactory() method

RuntimeError: Can't find pg_ctl
Traceback (most recent call last):
  File "C:/OSGEO4~1/apps/qgis-dev/./python\qgis\utils.py", line 334, in _startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "C:/Users/eu_po/Ap

[2020-04-21 18:34] saulogmenezes commented on #75
I followed the tutorial for pglite installation (https://github.com/Oslandia/pglite) hoping that it was the problem but I got the same error:

C:\Windows\System32>ipython
Python 3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:59:51) [MSC v.1914 64 bit (AMD64)]
Type 'copyright', 'credits' or 'license' for more information
IPython 7.13.0 -- An enhanced Interactive Python. Type '?' for help.

In [1]: impor

[2020-04-27 10:37] DUGUEY opened #122 "Create Atlas"
I Wonder if there is any possibilities to create an Atlas wiew with all the named section.  It can be very usefull to illustrate a geological report if we can view on the same page : a map view, with the section line on the map, and below on the same page : the section view.

[2020-04-27 22:16] timclc opened #123 "Installation help"
Hi, Albion looks like a wonderful tool, but the installation directions could use some more context for a novice user. Is there anything more detailed than what is [available here](https://github.com/Oslandia/albion/blob/master/quick_dev_install.md#installation)? I am a total novice when it comes to Python/coding, so when I read:

I am at a loss for where to even start there. I generally understan

[2020-04-28 15:27] DUGUEY opened #124 "Import holes menu is alwas not available"
Import holes is never active, I guess there is a bug this fonctionality

[2020-05-13 12:31] alex4034 commented on #75
Hi All,

Albion looks very promising but I must say I'm struggling a lot to figure out how to get it installed. After solving a few errors, I now struggle with that one, for which I have no idea how to solve it:

Impossible de charger l'extension 'albion-master' provoque une erreur lors de l'appel à sa méthode classFactory()

IndexError: list index out of range
Traceback (most recent call last):

[2020-05-26 14:49] mds- commented on #75
yes is a process to install, I managed to get it working on
debian 10
QGIS 3.12.3-București
postgresql 12
python 3.7 as much as possible (but 2.7 also installed)

alex4034, I had the same problem althought it looks like you are on windows, but I think if you check

C:\OSGEO41\apps\Python37\lib\site-packages\pglite\pglite.py

and have a look to see if your version of postgres is listed (line 74), e

[2020-05-28 14:52] ofredusko commented on #123
I do share the same position than my freiend timclc

[2020-06-11 16:06] SebastienPeillet commented on #121
@DUGUEY  see https://gitlab.com/Oslandia/qgis/QGeoloGIS/-/merge_requests/61

By the way Oslandia is going to close public repositories from GitHub to migrate to Gitlab. It's not yet the case for Albion, as there is still ongoing stuff, but you already can create an account on gitlab.com